.homepic {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    font-weight: 100;
    margin: 0;
    padding: 0;
}

.main{
    text-align: center;
}

.container {
    margin: 0 auto;
    max-width: 950px;
    padding: 0 10px;
    position: relative;
    align-items: center;
}

.main .container {
    margin: 80px auto;
  }
  
.main img {
    float: left;
    margin: -70px 80px 50px;
}

.resumebutton {
    color: rgb(255, 255, 255);
    background: rgb(80, 0, 0);
    padding: 10px 30px;
    text-decoration: none;
}

.resumebutton:hover {
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
}

@media (max-width: 600px) {
  
    .main {
      padding: 0;
      width: 100%;
    }
    .main img
    {
        margin: -70px 0px 0px 50px;
        padding: 0px 20px; 
    }
    .container{
        position: relative;
        align-items: center;
    }
}

.title{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}