:root {
  --real100vw: 100vw;
}

h2 {
  color: rgb(42, 35, 35);
}

#white {
  color: white;
}

#project0 {
  background-color: rgb(53, 49, 49);
  color: white;
}

#project1 {
  background-color: rgb(255, 255, 255);
}

.container1 {
  margin: 0 auto;
  max-width: 1700px;
  height: 0px;
  padding: 100px 0px 500px;
  position: relative;
}

.main1 {
  margin: 0px auto;
  text-align: center;
  padding: 200px 0px;
}

.main1 video {
  float: left;
  margin: -170px 40px 0px 0px;
}

#project2 {
  background-color: rgb(53, 49, 49);
  color: white;
}

.container2 {
  margin: 0 auto;
  max-width: 1700px;
  height: 0px;
  padding: 100px 0px 400px;
  position: relative;
}

.main2 {
  margin: 0px auto;
  text-align: center;
  padding: 200px 0px;
}

.main2 img {
  float: left;
  margin: -100px 40px 0px 0px;
  padding: 20px;
}

#project3 {
  background-color: rgb(255, 255, 255);
}

.container3 {
  margin: 0 auto;
  max-width: 1400px;
  height: 0px;
  padding: 100px 0px 400px;
  position: relative;
}

.main3 {
  margin: 0px auto;
  text-align: center;
  padding: 350px 0px;
}

.main3 img {
  float: left;
  margin: -250px 80px 0px 0px;
}

@media (max-width: 1720px) {

  .videos{
    width: 1100px;
    padding-left: 40px;
  }

  .mt{
    margin-top: -47px;
  }
  .text{
    padding-right: 30px;
  }
}

@media (max-width: 1400px) {
  .videos {
    width: var(--real100vw);
    padding-left: unset;
    height: auto;
    float: unset;
  }

  .seam {
    width: var(--real100vw);
    float: unset;
  }

  .mt{
    margin-top: unset;
  }
  .text{
    padding-right: unset;
  }

  .container1 {
    padding: 100px 20px 600px;
  }
  .container2 {
    padding: 10px 20px 600px;
  }
  .container3 {
    padding: 100px 20px 400px;
  }
}

@media (max-width: 1150px) {
  .videos {
    width: var(--real100vw);
  }

  img {
    width: var(--real100vw);
    float: unset;
  }

  .main1 video {
    float: unset;
    margin: -280px 0px 0px 0px;
  }

  .container1 {
    padding: 150px 20px 400px;
  }

  .container2 {
    padding: 0px 20px 400px;
  }
  .container3 {
    padding: 0px 20px 750px;
  }
}

@media (max-width: 1000px) {
  .videos {
    width: var(--real100vw);
  }

  img {
    width: var(--real100vw);
    float: unset;
  }

  .main1 video {
    float: unset;
    margin: -280px 0px 0px 0px;
  }

  .container1 {
    padding: 150px 20px 300px;
  }

  .container2 {
    padding: 0px 20px 350px;
  }
  .container3 {
    padding: 0px 20px 500px;
  }
}

@media (max-width: 800px) {
  .videos {
    width: var(--real100vw);
  }

  img {
    width: var(--real100vw);
    float: unset;
  }

  .main1 video {
    float: unset;
    margin: -280px 0px 0px 0px;
  }

  .container1 {
    padding: 150px 20px 300px;
  }

  .container2 {
    padding: 0px 20px 350px;
  }
  .container3 {
    padding: 0px 20px 320px;
  }
}
